<h2 class="featurette-heading">Education</h2>
<hr class="featurette-divider" />
<div class="container">
    <div class="row">
        <div class="featurette" id="post-secondary">
            <img class="featurette-image img-responsive pull-left" src="~/Images/FAU.png">
            <h2 class="featurette-heading">Bachelor of Engineering in Computer Science, <span class="text-muted">May 2018</span></h2>
            <p class="lead">Florida Atlantic University – <span class="text-muted">Boca Raton</span></p>
            <p class="lead">GPA: 3.843/4.0</p>
            <p><a class="btn btn-default" style="margin-right: 10px" href="/Home/Transcript/">View Transcript &raquo;</a><a class="btn btn-default" href="http://fau.edu/">View Instituiton Website &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <hr class="featurette-divider">
        <div class="featurette" id="secondary">
            <img class="featurette-image img-responsive pull-left" src="~/Images/FAUHS.png">
            <h2 class="featurette-heading">Accelerated Dual-Enrollment Program, <span class="text-muted">May 2017</span></h2>
            <p class="lead">Florida Atlantic University High School – <span class="text-muted">Boca Raton</span></p>
            <p>Students take a standard university course load beginning in 10th grade. These courses count for both high school and college credit. Florida Atlantic University High School is an extremely competitive and rigorous program, in which high school students are fully immersed in college life.</p>
            <p><a class="btn btn-default" href="http://adhus.fau.edu/">View Institution Website &raquo;</a></p>
        </div>
    </div>
 </div>