@section Heading
{
<div class="jumbotron">
    <div class="container">
        <h1>Cole Hirapara</h1>
        <p class="lead">Student at FAU since fall of 2014 and plans to graduate with a bachelor's in computer science in fall of 2017. Works tutoring computer science courses for the CLASS Office at FAU, and worked developing software for PeakActivity during the summer of 2017. Currectly looking for an internship for spring or summer of 2018.</p>
        <p><a class="btn btn-default" style="margin-right: 10px" href="https://github.com/colehir">GitHub &raquo;</a><a class="btn btn-default" style="margin-right: 10px" href="https://www.linkedin.com/in/cole-hirapara-045129114/">LinkedIn &raquo;</a></p>
    </div>
</div>
}
<div class="row">
    <div class="col-md-4">
        <h2>Education History</h2>
        <p>Student at Florida Atlantic University. Previously graduated from Florida Atlantic University High School, an accerated dual enrollment program.</p>
        <p><a class="btn btn-default" href="/Home/Education/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Work History</h2>
        <p>Experience teaching computer science, in addition to programming mobile applications with an organized team.</p>
        <p><a class="btn btn-default" href="/Home/Work">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Skills &amp; Awards</h2>
        <p>Experience in a multitude of programing languages, and highly awarded for acedemics.</p>
        <p><a class="btn btn-default" href="/Home/Skills">Learn more &raquo;</a></p>
    </div>
</div>
