<h2>Skills</h2>
<hr class="featurette-divider" />
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <ul>
                <li class="lead">C/C++</li>
                <li class="lead">Java</li>
                <li class="lead">C#/Xamarin/ASP.net</li>
            </ul>
            </div>
        <div class="col-sm-4">
            <ul>
                <li class="lead">SQL</li>
                <li class="lead">PHP</li>
                <li class="lead">MEAN Stack</li>
                <li class="lead">Javascript</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul>
                <li class="lead">Assembly using TI MSP430</li>
                <li class="lead">React Native</li>
                <li class="lead">Python</li>
            </ul>
        </div>
        </div>
    </div>

<h2>Awards</h2>
<hr class="featurette-divider" />
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <ul>
                <li class="lead">FAU College of Computer Science Dean's List</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul>
                <li class="lead">FAU President's List</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul>
                <li class="lead">CRLA Level 1 &amp; 2 Certification</li>
            </ul>
        </div>
    </div>
</div>

