<h2 class="featurette-heading">Work Experience</h2>
<hr class="featurette-divider" />
<div class="container">
    <div class="row">
        <div class="featurette" id="post-secondary">
            <img class="featurette-image img-responsive pull-right" style="padding-top: 10px" src="~/Images/PeakActivity.jpg">
            <h2 class="featurette-heading">Intern, <span class="text-muted">PeakActivity</span></h2>
            <p class="lead">May, 2017 to August, 2017 – <span class="text-muted">Boynton Beach</span></p>
            <ul>
                <li class="lead" style="font-size: 16px">Experienced programming in a professional environment, while designing and programing a productions eCommerce app for a major corporation using React Native</li>
                <li class="lead" style="font-size: 16px">Learned to work on a team to build a product, and enhanced my professional skills</li>
            </ul>
            <p><a class="btn btn-default" href="http://peakactivity.com/">View Employer Website &raquo;</a></p>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="featurette" id="secondary">
            <img class="featurette-image img-responsive pull-right" src="~/Images/FAU.png">
            <h2 class="featurette-heading">Class Tutor: Computer Science, <span class="text-muted">FAU CLASS Office</span></h2>
            <p class="lead">May, 2016 to present – <span class="text-muted">Boca Raton</span></p>
            <ul>
                <li class="lead" style="font-size: 16px">Tutor college students at Florida Atlantic University in computer science and geology courses individually or in small groups</li>
                <li class="lead" style="font-size: 16px">Increase my knowledge in Computer Science and Geology, while also improving in teaching and interacting with students</li>
                <li class="lead" style="font-size: 16px">Assist students in Foundations of Computer Science, which focused on Object Oriented Programming in C++, Logic Design which focused on Building Logical Circuits, and Microprocessors, which focused on coding in assembly and c for Texas Instrument’s MSP430</li>
            </ul>
            <p><a class="btn btn-default" href="http://fau.edu/tutoring/">View Employer Website &raquo;</a></p>
        </div>
    </div>
    <hr class="featurette-divider">
</div>

<h2 class="featurette-heading">Volunteer Experience</h2>
<hr class="featurette-divider">
<div class="container">
    <div class="row">
        <div class="featurette" id="secondary">
            <img class="featurette-image img-responsive pull-right" style="padding-top: -20px" src="~/Images/FAUHS.png">
            <h2 class="featurette-heading">Lead Coordinator of Orientation, <span class="text-muted">FAU High School</span></h2>
            <p class="lead">Aug, 2015 to present - <span class="text-muted">Boca Raton</span></p>
            <ul>
                <li class="lead" style="font-size: 16px">Organized and managed several orientation and recruiting events to help new students acclimate to the school and to life on a college campus</li>
                <li class="lead" style="font-size: 16px">This volunteer position helped me understand the importance of giving back and caring for communities to which I belong</li>
            </ul>
            <p><a class="btn btn-default" href="http://adhus.fau.edu/">View Instituiton Website &raquo;</a></p>
        </div>
    </div>

</div>